<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redvolunteer">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"

        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RedVolunteer"
        android:name=".RedVolunteerApplication"
        android:usesCleartextTraffic="true">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyB4xgUFe-zCwxNeRuzRYgD7nbIj2AYWAfg"/>
    <activity android:name=".SplashScreenActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar"/>

        <activity android:name=".newrequesthelp.NewRequestHelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="Your Api Key" />
        </activity>
        <activity android:name=".LoginAndRegister.RegisterVolunteer"
            android:theme="@style/Theme.MaterialComponents.DayNight"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginAndRegister.Login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>


        <activity android:name=".LoginAndRegister.RegisterX"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"/>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>


</manifest>